receivers:
  otlp:
    protocols:
      grpc: {}

processors:
  memlim: {}

exporters:
  debug:
    verbosity: normal

service:
  pipelines:
    metrics:
      receivers: [otlp]
      processors: [memlim]
      exporters: [debug]
